BODY { background-color: #FFFFFF ; color: #000000 ; font-family: Tahoma, Arial, sans-serif ; font-size: 12pt }
PRE.code { background-color: #C0C0C0 ; color: #000000 ; font-family: Andale Mono, Courier New, monospace ; font-size: 9pt ; margin-top: 5px ; margin-bottom: 5px }
P { font-family: Tahoma, Arial, sans-serif ; font-size: 12pt }
H1 { color: #000060 ; font-family: Tahoma, Verdana, Arial, sans-serif ; font-size: 24pt }
H2 { background-color: #000060 ; color: #FFFFFF ; font-family: Tahoma, Verdana, Arial, sans-serif ; font-size: 21pt ; margin-top: 5px ; margin-bottom: 5px }
H3 { color: #000060 ; font-family: Tahoma, Verdana, Arial, sans-serif ; font-size: 18pt ; margin-left: 10px }
H4 { color: #000060 ; font-family: Tahoma, Verdana, Arial, sans-serif ; font-size: 15pt ; margin-left: 15px }
H5 { color: #000060 ; font-family: Tahoma, Verdana, Arial, sans-serif ; font-size: 12pt ; margin-left: 20px }
H6 { color: #000060 ; font-family: Tahoma, Verdana, Arial, sans-serif ; font-size: 9pt ; margin-left: 25px }
A:link { color: #000088 ; text-decoration: none }
A:visited { color: #000088 ; text-decoration: none }
A:hover { color: #0000FF ; text-decoration: underline }
A.menu:link { color: #000088 ; text-decoration: none ; font-weight: normal }
A.menu:visited { color: #000088 ; text-decoration: none ; font-weight: normal }
A.menu:hover { color: #0000FF ; text-decoration: underline ; font-weight: bold }
TR { font-family: Tahoma, Arial, sans-serif ; font-size: 12pt }
TR.odd { background-color: #C0C0C0 ; margin-top: 5px ; margin-bottom: 5px ; font-family: Tahoma, Arial, sans-serif ; font-size: 12pt }
TR.even { background-color: #FFFFFF ; margin-top: 5px ; margin-bottom: 5px ; font-family: Tahoma, Arial, sans-serif ; font-size: 12pt }
TT { font-family: Andale Mono, Courier New, monospace ; font-size: 9pt }
LI { font-family: Tahoma, Arial, sans-serif ; font-size: 12pt }
